@import './reset.css';
@import 'tailwindcss';

body {
	@apply font-sans m-0 p-0 flex justify-center items-center h-screen bg-gradient-to-br from-slate-950 via-slate-900 to-slate-950;
}

.container-input {
	@apply flex justify-between gap-[10px];
}

.input {
	@apply px-2 py-1 text-base rounded-[5px] border border-gray-300 
         transition-colors duration-300 ease-in bg-[#f8ecec]
         outline outline-2 outline-[#0b44ad]
         focus:outline-[#077c03] active:outline-[#077c03];
}

.btn-switch {
	@apply inline-flex items-center justify-center px-6 py-2 bg-transparent rounded-full transition-colors duration-300 cursor-pointer border-2 border-gray-400 hover:bg-gray-100 hover:border-green-700;
}

.container {
	@apply w-full flex flex-col justify-center items-center gap-[25px] bg-slate-800/50 backdrop-blur border border-slate-700/50 rounded-2xl p-8 shadow-2xl;
	animation: fadeIn 2s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@media (max-width: 400px) {
	h1 {
		@apply text-[18px] leading-[1.3];
	}

	.container-input {
		@apply flex-col;
	}
}
