@import './reset.css';
@import 'tailwindcss';

body {
	@apply font-sans m-0 p-0 flex justify-center items-center h-screen bg-gradient-to-br from-slate-950 via-slate-900 to-slate-950;
}

.container {
	animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
